@import "./../../../styles/colors";
@import "./../../../styles/breakpoints.scss";

.cf-navigation {
  padding: 10px 0;

  @media #{$break-1}, #{$break-2} {
    display: flex;
    flex-direction: row;
  }
}

.cf-navigation--item {
  background-color: $color-base;
  text-decoration: none;
  color: $color-lightest;
  padding: 20px 10px;
  margin: 5px 0;
  display: block;

  @media #{$break-1}, #{$break-2} {
    text-align: center;
    width: 100%;
  }

  &:hover {
    background-color: $color-darker;
  }
}
